html {
    background-color: #1F2833;
    cursor: url('../../static/cursor-green.png'), auto;	
}

h1 {
  color: #DEF2F1;
}

p {
  color: #DEF2F1;
}

a {
  color: #51c2bd;
  text-shadow: none;
  text-decoration: none;
  background-image: none;
}

.row {
  display: flex;
  /* flex-wrap: wrap;
  flex-direction: column; */
  justify-content: space-between;
  padding-top: 20px;
}

.logo {
  /* background-image: url('../../static/letterP.png'); */
  width: 50px;
  height: 60px;
}

/* a:visited {
  color: #51c2bd;
  text-shadow: none;
  text-decoration: none;
}

a:hover {
  color: #51c2bd;
  text-shadow: none;
  text-decoration: none;
}

a:active {
  color: #51c2bd;
  text-shadow: none;
  text-decoration: none;
} */

/* svg {
  fill: none;
  transition: var(--transition);
  user-select: none;
} */